<!-- Footer -->
<footer class="footer bg-dark page-footer font-small indigo">

    <div id="social-media">
        <div class="container-fluid">

            <!-- Grid row-->
            <div class="row py-2 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-white text-md-left">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic media-icon">
                        <i class="fab fa-facebook-f mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic media-icon">
                        <i class="fab fa-twitter mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic media-icon">
                        <i class="fab fa-google-plus-g mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic media-icon">
                        <i class="fab fa-linkedin-in mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic media-icon">
                        <i class="fab fa-instagram"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center pt-3 pb-3">&copy; 2019 {{ autor }} </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->