.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#social-media {
    background-color: #f92a19;
}

.media-icon {
    color: white;
}

.footer-links {
    background-color: #343a40;
    color: white;
    margin-top: 2rem;
}

.fa-angle-right {
    color: #ff8700;
}

.links {
    color: lightgray;
}

a:link {
    text-decoration: none;
}

.social-media-list {
    color: white;
}

.footer-copyright {
    color: white;
    background-color: lightdark;
    text-align: center;
}

.dark-info {
    background-color: #343a40;
}