<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyB8f4J3raXdYO-82hVVMjo2m7QYLyC29Pc",
        authDomain: "toolbox-app-c1e48.firebaseapp.com",
        databaseURL: "https://toolbox-app-c1e48.firebaseio.com",
        projectId: "toolbox-app-c1e48",
        storageBucket: "toolbox-app-c1e48.appspot.com",
        messagingSenderId: "318380173846",
        appId: "1:318380173846:web:6b1fd7f5ba87ea150d6337"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

</html>