<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">

        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card card-default">
                <div class="card-header" style="background-color:#f92a19">
                    <h3 class="card-title" style="color: white; text-align-last: center;">
                        Save a paypal account
                    </h3>
                    
                </div>
                <div class="card-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="paypalEmail">
                            Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="paypalEmail" placeholder="paypalEmail"
                                required autofocus />
                            <span class="input"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="paypalPassword">
                                    Password</label>
                                <input type="password" class="form-control" id="paypalPassword" placeholder="Password" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <br/>
            <button class="btn btn-dark btn-lg btn-block" role="button" color-inherit="none">Save</button>
        </div>
        <div class="col-xs-12 col-md-4">
            
        </div>
    </div>
</div>

