<div class="container">
    
        <div class="row">  
            <div class="col-lg-2"></div>        
            <div class="card col-lg-4">
                <div class="card-header" style="background-color: #f92a19;">
                <h3 class="card-title" style="color: white;">
                Your Cards
                </h3>
                </div>
                <div class="card-body">
                    
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Visa Electron</h5>
                          <h6 class="card-subtitle mb-2 text-muted"> **********4944</h6>
                          <p class="card-text">22-12</p>
                          <a href="#" class="card-link">Edit</a>
                          <a href="#" class="card-link">Delete</a>
                        </div>
                      </div>
                      <br>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">MasterCard</h5>
                          <h6 class="card-subtitle mb-2 text-muted">************7890</h6>
                          <p class="card-text">25-04</p>
                          <a href="#" class="card-link">Edit</a>
                          <a href="#" class="card-link">Delete</a>
                        </div>
                      </div>
                      <br>
                    
                    <button class="btn btn-dark btn-lg btn-block" routerLink="/paymentmethod/card">Edit your card</button>
                </div>
            </div>
            <br>
            <div class="col-lg-2"></div> 
            <div class="card col-lg-4">
                <div class="card-header" style="background-color: #f92a19; color: white;">
                    <h3 class="card-title" style="color: white;">
                    Your Paypal Account
                    </h3>
                </div>
                <div class="card-body">
                    
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Paypal Main</h5>
                          <h6 class="card-subtitle mb-2 text-muted"> juanperez43@gmail.com</h6>
                          <p class="card-text">Juan Perez</p>
                          <a href="#" class="card-link">Edit</a>
                          <a href="#" class="card-link">Delete</a>
                        </div>
                      </div>
                      <br>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Paypal Secondary</h5>
                          <h6 class="card-subtitle mb-2 text-muted">mariaramirez_456@hotmail.com</h6>
                          <p class="card-text">Maria Ramirez</p>
                          <a href="#" class="card-link">Edit</a>
                          <a href="#" class="card-link">Delete</a>
                        </div>
                      </div>
                      <br>

                    <button class="btn btn-dark btn-lg btn-block" routerLink="/paymentmethod/paypal">Edit your paypal account</button>
                </div>
            </div>
        </div> 
        
    
</div>