<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading"></div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">

                            <!--------------------Carrucel de Imagenes -------------------------->
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" *ngIf="product.productImage?.length>0">
                                    <div class="carousel-item" *ngFor="let image of product.productImage; index as i; first as isFirst" [ngClass]="{active:isFirst}">
                                        <div class="d-flex justify-content-center">
                                            <img class="d-block w-25" src="http://localhost:8080/renter/uploads/img/{{product.productImage[i].imageRoute}}" alt="image.imageRoute">
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h3>{{product.productName}}</h3>
                                <div class="rating">Product Rate: </div>
                                <div class="price">
                                    <h3>${{product.productPrice}}</h3>
                                </div><button class="btn btn-primary" (click)="addToCart()" type="button"><i class="icon-basket"></i>Add to Cart</button>
                                <div class="summary">
                                    <p>
                                        {{product.productDescription}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="specifications-tabs" href="#specifications">Product Description</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Comments</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <br>
                            <br>
                            <div class="tab-pane active fade show specifications" role="tabpanel" id="specifications">
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Product Model</th>
                                                <th>Product Brand</th>
                                                <th>Product Price</th>
                                                <th>Product Quantity</th>
                                                <th>Product Date of Publish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Se crea un ciclo for que va a recorrer todo el arreglo de las variables
                                             creadas en el archivo clinte.ts que pertenece al componente clientes.component.ts-->
                                            <tr>
                                                <td>{{product.productName}}</td>
                                                <td>{{product.productModel}}</td>
                                                <td>{{product.productBrand}}</td>
                                                <td>{{product.productPrice}}</td>
                                                <td>{{product.productQuantity}}</td>
                                                <td>{{product.productDate}}</td>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show" role="tabpanel" id="reviews">

                                <div class="reviews">

                                    <div class="card review-item" *ngFor="let comment of product.productComments; index as i; first as isFirst" [ngClass]="{active:isFirst}">
                                        <div class="card-header">
                                            <span class="text-muted">{{product.productComments[i].productCommentDate}}</span>
                                        </div>
                                        <div class="card-body">
                                            <p>{{product.productComments[i].productComment}}</p>
                                        </div>
                                    </div>

                                    <br>
                                    <form class="form-group">
                                        <div class="form-group">
                                            <label for="productComment"><h2>Input Your Comment</h2></label>
                                            <textarea class="form-control" [(ngModel)]="productComment.productComment" id="productComment" name="productComment" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary" (click)="sendComment()">Submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clean-related-items">
                    <h3>Related Products</h3>
                    <div class="items">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image">
                                        <a href="#"><img class="img-fluid d-block mx-auto" src="assets/images/flexometro.jpg"></a>
                                    </div>
                                    <div class="related-name"><a href="#">Flexometro</a>
                                        <div class="rating">Product Price: </div>
                                        <h4>$20.45</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image">
                                        <a href="#"><img class="img-fluid d-block mx-auto" src="assets/images/martillo.jpg"></a>
                                    </div>
                                    <div class="related-name"><a href="#">Martillo</a>
                                        <div class="rating">Product Price: </div>
                                        <h4>$20.00</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image">
                                        <a href="#"><img class="img-fluid d-block mx-auto" src="assets/images/pinzas.JPG"></a>
                                    </div>
                                    <div class="related-name"><a href="#">Pinzas</a>
                                        <div class="rating">Product Price: </div>
                                        <h4>$30.45</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<br>