<main class="page landing-page">
    <section id="Acerca_de_Nosotros" class="clean-block about-us">
        <div class="container" id="allproducts">
            <div id="TituloCategoria" class="block-heading">
                <h2 class="text-info text-center">All the Products</h2>
                <p class="text-center">Everything you need in one place!.</p>
            </div>
            <div class="row justify-content-center">
                <div *ngFor="let product of products" class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <!--  -->
                    <div class="card clean-card text-center">
                        <img class="card-img-top d-block" src="">
                        <div class="card-body info">
                            <h4 class="card-title">{{product.productName}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{product.productBrand}}</h6>
                            <p class="card-text">{{product.productDescription}}</p>
                            <h6 class="card-subtitle mb-2 text-muted">${{product.productPrice}}</h6>
                            <button class="btn" type="button" [routerLink]="['/productsPage',product.productId]">Rent</button>

                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <br>
        </div>

    </section>

    <paginator-nav *ngIf="paginator" [paginator]="paginator" [url]="url"></paginator-nav>
</main>

<br>
<br>