<main class="page landing-page">
    <section id="Acerca_de_Nosotros" class="clean-block about-us">
      <div class="container" id="Mecanica">
          <div id="TituloCategoria" class="block-heading">
              <h2 class="text-info">Mechanics</h2>
              <p>Nuevos Productos para cualquier caso de mecánica.</p>
          </div>
          <div class="row justify-content-center">
              <div class="col-sm-6 col-lg-4 text-center">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/bernier.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Bernier</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/gato.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Gato Hidráulico</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/scanner_motor.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Scanner Motor</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container" id="Carpinteria">
          <div id="TituloCategoria" class="block-heading">
              <h2 class="text-info">Carpentry</h2>
              <p>Nuevos Productos para cualquier caso de mecánica.</p>
          </div>
          <div class="row justify-content-center">
              <div class="col-sm-6 col-lg-4 text-center">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/serrucho.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Serrucho</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/sierra_circular.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Sierra Circular</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/martillo.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Martillo-STANLEY</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container" id="Electricidad">
          <div id="TituloCategoria" class="block-heading">
              <h2 class="text-info">Electricity</h2>
              <p>Nuevos Productos para cualquier caso de mecánica.</p>
          </div>
          <div class="row justify-content-center">
              <div class="col-sm-6 col-lg-4 text-center">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/pinzas.JPG">
                      <div class="card-body info">
                          <h4 class="card-title">Pinzas</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/bernier.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Bernier</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/images/multimetro.jpg">
                      <div class="card-body info">
                          <h4 class="card-title">Multimetro</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <div class="text-center Enviar">
                              <div class="btn-toolbar">
                                  <div class="btn-group btn-group-sm visible" role="group"><button class="btn btn-primary" type="button" routerLink="/productsPage">RENTAR</button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </section>
</main>
