
<main class="page landing-page">
    <section id="Acerca_de_Nosotros" class="clean-block about-us">
      <div class="container" id="allproducts">
          <div id="TituloCategoria" class="block-heading">
              <h2 class="text-info text-center">All the Products</h2>
              <p class="text-center">Everything you need in one place!.</p>
          </div>
          <div class="row justify-content-center">
              <div *ngFor="let productr2 of ProductResponses" class="col-sm-12 col-md-4 col-lg-4 text-center">
                <!--  -->
                  <div  class="card clean-card text-center"><img class="card-img-top d-block" src="{{productr2.products.productImage[0].imageRoute}}"><!--{{productr2.productImage.imageRoute}} -->
                      <div class="card-body info">
                          <h4 class="card-title">{{productr2.products.productName}}</h4>
                          <h6 class="card-subtitle mb-2 text-muted">{{productr2.products.productBrand}}</h6>
                          <p class="card-text">{{productr2.products.productDescription}}</p>
                          <h6 class="card-subtitle mb-2 text-muted">${{productr2.products.productPrice}}</h6>
                          <button class="btn btn-primary" type="button" [routerLink]="['/productsPage',productr2.products.productId]">RENTAR</button>

                      </div>
                  </div>
                  <br>
              </div>
          </div>
<br>
<br>
      </div>

    </section>

    <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
</main>

<br>
<br>
