<div class="container" id="Carpinteria">
    <div id="TituloCategoria" class="block-heading">
        <h2 class="text-info">{{categoryName}}</h2>
        <p>Nuevos Productos para cualquier caso de mecánica.</p>
    </div>
    <div class="row justify-content-center">
        <div *ngFor="let productCategory of products" class="col-sm-12 col-md-4 col-lg-4 text-center">
            <!--  -->
            <div class="card clean-card text-center">
                <div *ngIf="productCategory.product.productImage?.length>0 else elseImage">
                    <img class="card-img-top d-block" src="http://localhost:8080/renter/uploads/img/{{productCategory.product.productImage[0].imageRoute}}">
                </div>
                <ng-template #elseImage>
                    <img class="card-img-top d-block" src="assets/images/notfound.png">
                </ng-template>
                <div class="card-body info">
                    <h4 class="card-title">{{productCategory.product.productName}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{productCategory.product.productBrand}}</h6>
                    <p class="card-text">{{productCategory.product.productDescription}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">${{productCategory.product.productPrice}}</h6>
                    <button class="btn btn-primary" type="button" [routerLink]="['/productsPage',productCategory.product.productId]">Rent</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>