<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" #sidenav (keydown.escape)="close('escape')">
        <mat-toolbar class="main-nav text-white">
            <span><mat-icon>person</mat-icon> Hello {{ auth.usuario.username }}</span>

        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item class="text-muted" href="#">RENT BY CATEGORY</a>
            <a mat-list-item *ngFor="let category of productCategories " [routerLink]="['/categories/category', category]">{{category}}<span class="spacer"></span><mat-icon>keyboard_arrow_right</mat-icon></a>
        </mat-nav-list>
        <hr>
        <mat-nav-list>
            <a mat-list-item class="text-muted" href="#">HELP & SETTINGS</a>
            <a mat-list-item routerLink="/profile/user/{id}">Your Account</a>
            <a mat-list-item>
                <mat-icon>language</mat-icon>English
            </a>
            <a mat-list-item>Help</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container-fluid">
            <!--Grid Row-->
            <div class="row d-flex align-items-center">

                <mat-toolbar class="main-nav">
                    <!-- Grid column -->
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <button class=" text-white " type="button " aria-label="Toggle sidenav " mat-icon-button (click)="sidenav.open() ">
                            <mat-icon aria-label="Side nav toggle icon ">menu</mat-icon>
                          </button>
                    </div>
                    <!-- Grid column -->
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <a class="navbar-brand " [routerLink]="['/landing_page']">
                            <img src="assets/images/logo3.png " width="80 " height="80 " alt=" ">
                        </a>
                    </div>
                    <!-- Grid column -->
                    <div class="col-sm-10 col-md-10 col-lg-10 text-center text-md-right">

                        <mat-nav-list>
                            <!--Barra de busqueda -->
                            <a class="nav-link navbar-text">
                                <mat-form-field class="search">
                                    <input class="btnInput" type="text" placeholder="Search Product" aria-label="Number" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="showProductName" (optionSelected)="selectProduct($event)">
                                        <mat-option *ngFor="let productOption of filteredProducts | async" [value]="productOption">
                                            {{productOption.productName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </a>

                            <a class="nav-link navbar-text " [routerLink]="['/landing_page']">Home</a>

                            <a class="text-white dropdown-toggle mt-3 mb-4" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="searchProductByCategory()">Categories</a>

                            <div class="dropdown-menu w-auto" aria-labelledby="dropdownMenuButton ">
                                <div *ngFor="let category of productCategories">
                                    <a class="dropdown-item" [routerLink]="['/categories/category', category]"><i class='fas fa-angle-right'></i>{{category}}</a>
                                    <br>
                                </div>

                            </div>

                            <a class="nav-link navbar-text " [routerLink]="['/shoppingCard']"><span><i class="fas fa-shopping-cart "></i></span></a>
                            <a *ngIf="auth.isAuthenticated()" (click)="logout()" class="nav-link navbar-text" href="#"><span><i class="fas fa-sign-out-alt "></i></span> Logout</a>
                            <a *ngIf="!auth.isAuthenticated()" class="nav-link navbar-text " [routerLink]="['/userLogin']"><span><i class="fas fa-user "></i></span> Login</a>
                        </mat-nav-list>
                    </div>
                </mat-toolbar>
            </div>
        </div>
        <ng-content></ng-content>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>