.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.main-nav {
    background-color: #f92a19;
}

.fa-angle-right {
    color: #FF6600;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: auto;
}

.mat-toolbar {
    position: sticky;
    height: 12vh;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto
}

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.navbar-text {
    color: #f7f4f4;
}

.header {
    background-color: #062835;
}

.card {
    max-height: 500px;
    max-width: 500px;
}

#dropdownMenuButton {
    cursor: pointer;
}